.contact{
    margin: 70px auto;
    .contacthR{
            &::after{
                left: auto;
            }
    }
    legend{
        max-width: 100%;
    }
    .contact-description{
        hr{
            margin-top: 12px;
            &::after{
                left: 7%;
            }
        }
    }
    hr{
        margin-bottom: 20px;
        margin-top: 5px;
    }
    input,
    textarea,
    select{
        margin-bottom: 10px;
        border-color:  $maincolor;
    }
    input[type=submit]{
        width: 100%;
        background:#f4c400a6;
        color: #fff;
        &:focus,&:hover{
            border-color:#fff;
            box-shadow:none;
            background:$maincolor;
        }
    }
    input{
        padding-left: 32px;
    }
    .form-control:focus {
        border-color:$maincolor;
        box-shadow: 0 0 0 1px $maincolor;
    }
    .asterisx{
        top: 0;
        color: $Secondcolor;
        font-size: 25px;
        right: 3px;
        z-index: 3;
    }
    .custom-alert{
        padding: 5px 10px;
        display: none;
    }
    .send-icon{
        color: #fff;
    }
    i{
        height: 0;
        float: left;
        top: 11px;
        left: 10px;
        color: #91979d;
    }
}